body {
  margin: 0;
  padding: 0;
  background-color: #fff0dd;
  color: #000;
  font-family: "Verdana", sans-serif;
}

/* untuk mengatur bagian waktu otomatis */
#current-time {
  font-size: 20px;
  color: #000;
  margin-right: 20px;
}

.material-icons-outlined {
  vertical-align: middle;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* ---------- HEADER ---------- */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

/* ---------- SIDEBAR ---------- */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/* untuk mengatur bagian judul */
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 15px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  font-size: 25px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: block !important;
  position: absolute;
  z-index: 12 !important;
  opacity: 0.9 !important;
  background-color: #263043;
  grid-area: sidebar !important;
  height: 100% !important;
  width: 60% !important;
  overflow-y: auto !important;
  transition: width 2s !important; /* Increased transition duration to 2 seconds */
  -webkit-transition: all 2s !important; /* Increased transition duration to 2 seconds for WebKit browsers */
}

/* ---------- MAIN ---------- */
/* pada bagian ini mengatur main container atau tempat bar chart */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

/* card */
.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3px 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: #7e5539;
}
.card-inner > h3,
h1,
span {
  color: #7e5539;
}


/* charts */
.charts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.top-charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
/* warna untuk bagian time chart */
#timeChart {
  background-color: #fff;
}
#line-chart {
  border-radius: 5px;
  border-style: solid;
  border-color: #000;
}
.bottom-charts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 40vh;
}
/* .charts-card-bawah {
  border-radius: 8px;

} */
.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

/* tabel chart style */
table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 8px;
  text-align: left;
  color: #000;
}

/* modifikasi warna TH */
th {
  background-color: #9e614f;
}
tbody {
  display: block;
  max-height: 300px; /* Set a max height for the table body */
  overflow-y: auto; /* Enable vertical scrolling */
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
/* mengatur ketinggian chart */
#bar-chart,
#area-chart,
#bar-chart2,
#area-chart2,
#area-chart3 {
  height: 300px;
}

/* filter style  */
/* Mengatur form agar elemen-elemennya tersusun secara horizontal */
#filterForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px; /* Memberikan jarak antar elemen */
  padding: 20px;
}
#filterForm label {
  color: #fff;
  padding-bottom: 5px;
}

/* Mengatur input dan select agar memiliki ukuran tetap dan desain yang menarik */
#filterForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#filterForm div select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  transition: border-color 0.3s;
}

#filterForm div input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 180px;
  transition: border-color 0.3s;
}

#filterForm div select:focus,
#filterForm div input:focus {
  border-color: #4caf50; /* Warna border saat fokus */
}

#filterForm button {
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-size: 14px;

  width: 200px;
  transition: background-color 0.3s;
}

button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #dbba8f;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

button:hover::before {
  transform: translateX(0);
}

/* mengatur jarak dengan bagian filter */
#filterBtn {
  margin-top: 20px;
}
/* Mengatur button agar tidak terlalu besar */
#filterBtn,
#clearBtn {
  flex: 0 1 auto;
}

/* ---------- MEDIA QUERIES ---------- */

/* tampilan untuk tampilan lebih besar dari laptop */
@media screen and (min-width: 1067px) {
  /* Atur gaya CSS untuk laptop di sini */
  .charts-card-bawah {
    width: 32%;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
  }
}
/* tampilan laptop standar max 15 inch*/
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  /* Atur gaya CSS untuk laptop di sini */
  .charts-card-bawah {
    width: 31.4%;
  }
}

/* Small <= 768px  atau mode mobile*/
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }
  .charts-card-bawah {
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
  }

  /* untuk mengatur sidebar tidak ditampilkan di mode mobile */
  #sidebar {
    display: none;
  }
  /* menampilkan menu icon pada mode mobile */
  .menu-icon {
    display: inline;
  }
  .sidebar-title > span {
    display: inline;
  }

  /* untuk mengatur posisi chart di mode mobile */
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  /* untuk mengatur tampilan chart bagian atas pada mode desktop ke mode mobile */
  .top-charts {
    display: grid;
    grid-template-columns: 1fr; //supaya tiap kolom mendapatkan lebar maksimal
    gap: 10px;
    margin-top: 20px;
    height: auto; /* Tinggi akan menyesuaikan dengan konten */
  }

  /* untuk mengatur tinggi chart pada mode mobile  */
  #line-chart {
    height: 50vh;
  }
  /* untuk mengatur tinggi chart pada mode mobile  */
  #bar-chart {
    height: 50vh;
  }

  /* untuk mengatur ketinggian chart bagian bawah di mode desktop ke mode mobile */
  .charts-card-bawah {
    width: 100%;
    height: 100%; /* Tinggi akan menyesuaikan dengan konten */
  }
  /* Mengatur ulang tata letak untuk layar kecil agar menjadi vertikal */
  #filterForm {
    flex-direction: column;
    align-items: stretch;
  }

  #filterForm div select,
  #filterForm button {
    width: 100%; /* Mengatur elemen agar mengambil lebar penuh pada layar kecil */
  }
  #filterForm div input {
    width: 93%;
  }
}
